body{
  color: #424242;
}
h3{
  color: #000000 !important;
}
.container{
  padding-top: 2em;
}
.center-container{
  margin: 0 auto;
  float: none;
}
.post-block{
  padding: 15px;
  /* border: 1px solid #000000; */
  /* border-top: 1px solid #e7e7e8; */
  /* margin-bottom: 2em; */
  cursor: pointer;
  
}
a{
  text-decoration: none !important;
}
.post-block .category{
  color: #e5127d;
  margin-bottom: 5px;
}
.post-block .content{
  max-height: 120px;
  overflow: hidden;
  -webkit-mask-image: linear-gradient(180deg,#000 50%,transparent);
  color: #424242 !important;
}
#page-numbers{
  text-align: center;
}
#page-numbers li{
  display: inline-block;
  cursor: pointer;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #e5127d;
  color: #ffffff;
  margin-right: 10px;
}
#page-numbers li.unselected{
  opacity: 0.4;
}
.search{
  text-overflow: ellipsis;
  font-size: 1.5em !important;
  background-color: transparent !important;
  border: 0 !important;
  display: block !important;
  padding: 8px !important;
  outline: 0 !important;
  box-shadow: none !important;
  height: 68px !important;
  color: #424242 !important;
  padding-right: 70px !important;
}
.search-container{
  background: #EFEFF0;
  border-bottom: 1px solid #e7e7e8;
}
.search-btn{
  font-family: Helvetica, sans-serif;
-webkit-appearance: none !important;
    background-color: #e5127d;
    border: 0;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-size: .75em;
    letter-spacing: .09em;
    padding: 8px;
    font-weight: bolder;
    position: absolute;
    right: 0px;
    top: 17px;
}
.input-container{
  display: inline-block;
}
.post-detail-category{
  color: #e5127d;
  font-weight: 500;
  letter-spacing: .07em;
  text-transform: uppercase;
  font-size: .85em;
}
.post-detail-title{
  font-weight: 600;
  line-height: 1.2;
  text-transform: none;
  font-size: 3em;
}
.post-detail-content{
  font-weight: 300;
  font-style: normal;
  line-height: 28.8px;
  text-transform: none;
  font-size: 18px;
  margin-top: 1em;
}
.comments-container{
  color: #424242;
  font-style: normal;
  line-height: 19.5px;
  text-transform: none;
  font-size: 13px;
}
.comments-container .username{
  color: #e5127d;
  font-size: 18px;
  line-height: 18px;
  margin-bottom: 10px;
}
.comments-container .time{
  margin-top: 10px;
}
.comments-container .comment-wrap{
  margin-bottom: 20px;
}
.comments-container .comments-count{
  color: #424242;
  font-style: normal;
  font-weight: bolder;
  letter-spacing: .05em;
  line-height: normal;
  text-transform: uppercase;
  font-size: 1.5em;
  margin-bottom: 20px;
  font-family: "Heroic",Arial Narrow,Helvetica,sans-serif;
}
.comments-container .add-comment{
  color: #e5127d;
  cursor: pointer;
}
.post-detail-container{
  padding-bottom: 3em;
}
.add-comment-btn{
  font-family: Helvetica, sans-serif;
  -webkit-appearance: none;
  background-color: #e5127d;
  border: 0;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  letter-spacing: .09em;
  padding: 8px;
  text-transform: uppercase;
  margin-top: 10px;
  font-weight: bolder;
  font-stretch: 100%;
  line-height: 21px;
}