.container{
  padding-top: 2em;
}
.center-container{
  margin: 0 auto;
  float: none;
}
.post-block{
  padding: 15px;
  /* border: 1px solid #000000; */
  /* border-top: 1px solid #e7e7e8; */
  /* margin-bottom: 2em; */
  cursor: pointer;
  
}
a{
  text-decoration: none !important;
  color: #000000 !important;
}
.post-block .category{
  color: #e5127d;
  margin-bottom: 5px;
}
.post-block .content{
  max-height: 120px;
  overflow: hidden;
  -webkit-mask-image: linear-gradient(180deg,#000 50%,transparent);
}