.feed-list-container.center-container{
  margin: 0 auto;
  float: none;
  
  margin-top: 3em;
}
.post-block {
  border: solid 2px #e7e7e7;
  border-top: solid 1px #e7e7e7;
  border-bottom: solid 1px #e7e7e7;
  padding: 20px;
}
.post-block{
  font-size: 14px;
}
.post-block .user-name{
  font-weight: bold;
  margin-right: 10px;
}
.post-block .user-wrap{
  display: flex;
  margin-bottom: 10px;
}
.post-block .timestamp{
  color: #b8b8b8;
}
.post-block .title{
  margin-bottom: 10px;
}
.post-block .user-image-wrap{
  padding: 0px;
}
.post-block .content-wrap{
  padding-top: 10px;
}
.user-image{
  height: 40px;
  width: 40px;
}